{% extends 'apphr50/base.html' %}

{% block content %}

	<div>
	<ul>
		<li>
		  <a href="#home">Какие есть группы пользователей</a>
		  <ul>
		    <li>
			  <a href="#home">Администраторы</a
			</li>
		    <li>
			  <a href="#home">Руководители групп</a
			</li>
			<li>
			  <a href="#home">Члены групп</a
			</li>
			</li>
			<li>
			  <a href="#home">Одиночные пользователи</a
			</li>
		  </ul>
		</li>
		<li><a href="#home">Возможности каждой группы</a></li>
		<li><a href="#home">Как обрабатывать данные ЧСС</a></li>	
		<li><a href="#home">Как визуализировать результаты обработки</a></li>
		<li><a href="#home">Как экспортировать/импортировать данные ЧСС, результаты обработки</a></li>
	</ul>	
	</div>
	
{% endblock %}