{% extends 'apphr50/base.html' %}

{% block content %}

	<div>
	<ul>
		<li><a href="#home">С каким оборудованием работает: перечень фитнес браслетов, умных часов</a></li>
		<li><a href="home">Через какие приложения: приложения для Андроид</a></li>
		<li><a href="#home">Какие есть возможности обработки: расчёт средней ЧСС по промежуткам времени</a></li>	
		<li><a href="#home">Какие есть возможности визуализации: графики ЧСС, графики средних</a></li>
		<li><a href="#home">Какие есть возможности экспорта/импорта данных ЧСС, результатов обработки: форматы экспорта/импорта данных</a></li>
	</ul>	
	</div>
	
{% endblock %}