{% extends 'apphr50/base.html' %}

{% block content %}

<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<div>
					<ul>
						<li><a href="#home">С каким оборудованием работает: перечень фитнес браслетов, умных часов</a></li>
						<li><a href="home">Через какие приложения: приложения для Андроид</a></li>
						<li><a href="#home">Какие есть возможности обработки: расчёт средней ЧСС по промежуткам времени</a></li>	
						<li><a href="#home">Какие есть возможности визуализации: графики ЧСС, графики средних</a></li>
						<li><a href="#home">Какие есть возможности экспорта/импорта данных ЧСС, результатов обработки: форматы экспорта/импорта данных</a></li>
					</ul>	
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}