<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Новостной сайт</title>
  <link rel="stylesheet" href="style1.css">
 </head>
 <body>
  <div id="container">
   <div id="header">Новостной сайт</div>
   <div id="sidebar">
   <p><a href="NewsPage.htm">Список новостей</a></p>
   <p><a href="add.htm">Добавить новость</a></p>
   <p><a href="about.htm">О сайте</a></p>
   </div>
   <div id="content">
    <h2>О сайте</h2>
    <p>
	  Этот сайт разработан в ходе<br>
      выполнения лабораторной работы №1<br>
      по курсу WEB программирование";
	</p> 
   </div>
   <div id="footer">&copy; ПМ72 Дмитрий Матушкин</div>
  </div> 
 </body>
</html>