<!-- templates/about_test.html -->
{% extends 'base_prsar.html' %}
{% load crispy_forms_tags %}
 
{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Запуск теста InfluxDB</h5>
	  
      <p>
<!--
		{% if user.profile.status_of_user == 'SU' %} 
		  Выберите сеансы для обработки на странице Работа с сеансами.
		{% elif user.profile.status_of_user == 'GM' %}
          Выберите группу, членом которой хотите стать.		
		{% elif user.profile.status_of_user == 'TL' %} 
		  Работа с группами.
-->

			<p>
				Файл: prsar_reggr.html.
			</p>

				<p>
					Пользователь {{user}} ({{user.profile.first_name}} {{user.profile.last_name}}) управляет следующими группами:
				</p>				

				<table class="table" id="book-table">
				  <thead>
				    <tr>
					  <th>Имя группы</th>
					  <th>Дата/время регистрации</th>
					  <th>Комментарий руководителя</th>
					  <th>Действующая группа</th>
					</tr>
				  </thead>
				  <tbody>
					{% for grouphr in n_grouphr %}
					  <tr>
						<td>{{ grouphr.0 }}</td>
						<td>{{ grouphr.1 }}</td>
						<td>{{ grouphr.2 }}</td>
						<td>{{ grouphr.3 }}</td>
					  </tr>
					{% empty %}
					  <tr>
						<td colspan="7" class="text-center bg-warning">Нет групп</td>
					  </tr>
					{% endfor %}
				  </tbody>
				</table>


			<form method="post">
			{% csrf_token %}
			{{ form_0|crispy }}
            <input type="hidden" name="next" value="{{ "prsar_reggr" }}">
			<p>
			<button type="submit" class="btn btn-light">Выбрать</button>
			</p>

			</form>

<!--			
			<p>
				Функция: {{prsar_reggr_view}}. Выбран вариант: {{works_live_str}}.
			</p>
-->
<!--
			{% if works_live == '0' %}

				<form method="post">
				{% csrf_token %}
				{{ form_0|crispy }}

				<p>
				<button type="submit" class="btn btn-light">Выбрать</button>
				</p>

				</form>
-->				
<!--
			<p>
				Имя группы: {{name_of_grouphr}}. Комментарий руководителя: {{comment_of_TL}}.
			</p>
-->	
<!--
			{% endif %}
-->			
<!--			
	  <p>
		Записано точек: {{number_of_points_write}} . Прочтено точек: {{number_of_points_read}} .
	  </p>
-->	 
<!--
			<p>
				Имя группы: {{name_of_grouphr}}. Комментарий руководителя: {{comment_of_TL}}.
			</p>
-->
<!-- 
		{% endif %}
-->		
	  </p>	  
	  
<!--	  
      <form method="post">
      {% csrf_token %}

	  {{NumberOfPoints}}
      {{ form|crispy }}

      <p>
	  <button type="submit" class="btn btn-light">Записать тестовую последовательность в InfluxDB</button>
      </p>

      </form>
	  
	  <p>
		Записано точек: {{number_of_points_write}} . Прочтено точек: {{number_of_points_read}} .
	  </p>	  
-->	  
	</div>
    </div>	  
  </div>
</div>

<!--
<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Считанная из InfluxDB тестовая последовательность</h5>
	  
      <p>
	    Точки тестовой последовательности InfluxDB. {{user}} {{ current_site }}
	  </p>
	  
	</div>
    </div>	  
  </div>
</div>
-->	  
{% endblock content %}