<!-- templates/about_test.html -->
{% extends 'base_prsar.html' %}
{% load crispy_forms_tags %}
 
{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Запуск теста InfluxDB</h5>
	  
      <form method="post">
      {% csrf_token %}

	  {{NumberOfPoints}}
      {{ form|crispy }}

      <p>
	  <button type="submit" class="btn btn-light">Записать тестовую последовательность в InfluxDB</button>
      </p>

      </form>
	  
	  <p>
		Записано точек: {{number_of_points_write}} . Прочтено точек: {{number_of_points_read}} .
	  </p>	  
	  
	</div>
    </div>	  
  </div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Считанная из InfluxDB тестовая последовательность</h5>
	  
      <p>
	    Точки тестовой последовательности InfluxDB. {{user}} {{ current_site }}
	  </p>
	  
	</div>
    </div>	  
  </div>
</div>
	  
{% endblock content %}