<!-- templates/about_test.html -->
{% extends 'base_prsar.html' %}
{% load crispy_forms_tags %}
 
{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Выбор серий INfluxDB для формирования DataFrame</h5>

<!--	  
      <form method="post">
      {% csrf_token %}

	  {{NumberOfPoints}}
      {{ form|crispy }}

      <p>
	  <button type="submit" class="btn btn-light">Записать тестовую последовательность в InfluxDB</button>
      </p>

      </form>
-->	  

	{% if Flag_Seanses == 0 %} 
		Выберите сеансы для обработки на странице Работа с сеансами.
		<p>
			<a href="{% url 'work_with_seanses'%}">Перейдите по этой ссылке.</a>
		</p>
	{% elif Flag_Seanses == 1 %}
        Сеансы выбраны.
		<form id="UsersPoints" method="post">
		{% csrf_token %}
<!--
		{{UsersPoints}}
--> 
		{{ form|crispy }}

		<p>
			<button type="submit" class="btn btn-light">Выбрать точки из InfluxDB</button>
		</p>

		</form>
		
		{% if Flag_Series == 1 %} 

			<div class="container">
			  <div class="row justify-content-around">
				<div class="card">
				<div class="card-body">
				  <h5 class="card-title mb-2 text-muted">Считанная из InfluxDB тестовая последовательность</h5>
				  
				  <p>
					Точки тестовой последовательности InfluxDB. {{user}} {{ current_site }}
				  </p>

				  <p>
					Выбранные серии в DataFrame {{result|safe}}
				  </p>
				  
				</div>
				</div>	  
			  </div>
			</div>
		{% endif %}	
		
	{% else %}
		
	{% endif %}
		
	<script type="text/javascript"> 
		var a = "{{ Flag_Seanses|escapejs }}";
		//document.write("Эта страница написана на JavaScript!");
		//document.write(a);
		if (a==0) {
			//document.write("Ленинской партии слава!");
		} else {
			var para = document.createElement('p');
			//para.textContent = 'Слава КПСС!!!';
			var sect = document.querySelector('h5');
			//sect.appendChild(para);
		}
	</script>

<!--	  
	  <p>
		Исключение: {{Test_WWP}} .
	  </p>	  	  
	  
	  <p>
		Пользователем {{user}} выбраны следующие сеансы {{seanses_of_user}}: 
	  </p>	  

	  <p>
		Start время {{TestS}} Stop время {{TestE}}: 
	  </p>

	  <p>
		Запрос {{TestA}}
	  </p>

	  <p>
		Количество таблиц {{TestRR}}, длина таблицы {{TestRT}}
	  </p>

	  <p>
		Список значений тега 'location' {{list_location}}
	  </p>
	  
	  <p>
		Список значений тега 'username' {{list_username}}
	  </p>

	  <p>
		Длина списка 'list_username' {{TestUN}}
	  </p>

	  <p>
		Список 'names' {{TestUP_UN}}
	  </p>

	  <p>
		Список значений тега 'conditions' {{list_conditions}}
	  </p>

	  <p>
		Строка фильтра имён {{TestNSQ}}
	  </p>

	  <p>
		Строка фильтра локаций {{TestLSQ}}
	  </p>

	  <p>
		Строка фильтра условий {{TestСSQ}}
	  </p>

	  <p>
		Полная строка фильтра {{TestASQ}}
	  </p>
-->

<!--
	  <ul>
		{% for seanse in points_list %}
			<li>{{ seanse }}</li>
		{% endfor %}
	  </ul>
-->	
<!--
      <form id="UsersPoints" method="post">
      {% csrf_token %}

	  {{UsersPoints}}

      {{ form|crispy }}

      <p>
	  <button type="submit" class="btn btn-light">Выбрать точки из InfluxDB</button>
      </p>

      </form>
-->  
	</div>
    </div>	  
  </div>
</div>

<!--
<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Считанная из InfluxDB тестовая последовательность</h5>
	  
      <p>
	    Точки тестовой последовательности InfluxDB. {{user}} {{ current_site }}
	  </p>

	  <p>
		Выбранные серии в DataFrame {{result|safe}}
	  </p>
	  
	</div>
    </div>	  
  </div>
</div>
-->
	  
{% endblock content %}