<!-- templates/registration/login.html -->
{% extends 'base.html' %} &nbsp;
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Вход в личный кабинет</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Введите Ваш аккаунт</h5>

      <form method="post">
      
	  {% csrf_token %}
      <!--
      <input type="hidden" name="next" value="{{ "test_IDB" }}">
      -->
      {{ form|crispy }}
	  
      <input type="hidden" name="next" value="{{ "prsar" }}">
	  
	  <button type="submit" class="btn btn-light">Войти</button>
      
	  <!--
	  <a class="btn btn-light" href="{% url 'prsar' %}" role="button">Войти</a>
	  -->
      </form>
	</div>
    </div>	  
  </div>
</div>	

{% endblock content %}