<!-- templates/registration/login.html -->
{% extends 'base.html' %} &nbsp;
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Выход из личного кабинета</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Вы вышли из Вашего личного кабинета</h5>
	
	  <a href="{% url 'login'%}">Перейдите по этой ссылке, если хотите войти опять.</a>
	 
      </form>
	</div>
    </div>	  
  </div>
</div>	

{% endblock content %}