<!-- templates/about_test.html -->
{% extends 'base_prsar.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block javascript %}
  <script src="{% static 'static/js/grouphr.js' %}"></script>
{% endblock %}
 
{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Работа в личном кабинете</h5>
	  
      <p>
		{% if user.profile.status_of_user == 'SU' %} 
		  Выберите сеансы для обработки на странице Работа с сеансами.
		{% elif user.profile.status_of_user == 'GM' %}
          Выберите группу, членом которой хотите стать.		
		{% elif user.profile.status_of_user == 'TL' %} 
		  Работа с группами.
<!--
			<p>
				Количество групп {{TUI}} Имя 0 группы {{TUI_GN}} 
			</p>

			<p>
				Количество групп с пользователями {{TUI_UN}} 
			</p>

			<p>
				Словарь групп {{user_inf}} 
			</p>
-->		  
			<p>
				Пользователь {{user}} ({{user.profile.first_name}} {{user.profile.last_name}}) управляет следующими группами:
			</p>				

			<table class="table" id="group-table">
			  <thead>
				<tr>
				  <th>Имя группы</th>
				  <th>Дата/время регистрации</th>
				  <th>Комментарий руководителя</th>
				  <th>Действующая группа</th>
				</tr>
			  </thead>
			  <tbody>
				{% for grouphr in n_grouphr %}
				  <tr id={{ grouphr.0 }}>
					<td>{{ grouphr.0 }}</td>
					<td>{{ grouphr.1 }}</td>
					<td>{{ grouphr.2 }}</td>
					<td>{{ grouphr.3 }}</td>
				
					<td>
						<button type="button"
							class="{{grouphr.0}} on btn btn-warning btn-sm" 
							<span class="glyphicon glyphicon-pencil"></span> Подключить
						</button>
						<button type="button"
							class="{{grouphr.0}} off btn btn-danger btn-sm" 
							<span class="glyphicon glyphicon-trash"></span> Отключить
						</button>
						<button type="button"
							class="{{grouphr.0}} show_users btn btn-danger btn-sm" 
							<span class="glyphicon glyphicon-trash"></span> Показать пользователей
						</button>							
					</td>
					
				  </tr>
				  <tr>
					<td colspan="6">
						<table class="{{grouphr.0}} show_users table" id="user-table {{grouphr.0}}">
						  <thead>
							<tr>
							  <th>Имя пользователя</th>
							  <th>Фамилия пользователя</th>
							  <th>Дата/время регистрации</th>
							  <th>Дата/время последнего визита</th>
							  <th>Действующий пользователь</th>
							</tr>							
						  </thead>
						  <tbody>
							{% for user in user_inf %}
							  <tr>
							  							  
							  
								<td>{{ user.one.0 }}</td>
							
<!--
								<td> Тест </td>

-->								
								<td>{{ user.0.1 }}</td>
								<td>{{ user.grouphr.0.2 }}</td>
								<td>{{ user.grouphr.0.3 }}</td>
								<td>{{ user.grouphr.0.4 }}</td>
								<td>
									<button type="button"
										class="{{grouphr.2}} on btn btn-warning btn-sm" 
										<span class="glyphicon glyphicon-pencil"></span> Подключить
									</button>
									<button type="button"
										class="{{grouphr.2}} off btn btn-danger btn-sm" 
										<span class="glyphicon glyphicon-trash"></span> Отключить
									</button>
								</td>
							  </tr>
							{% empty %}
							  <tr>
								<td colspan="6" class="text-center bg-warning">Нет пользователей</td>
							  </tr>
							{% endfor %}						  
						  </tbody>
						</table>								
					</td>						
				  </tr>
				{% empty %}
				  <tr>
					<td colspan="5" class="text-center bg-warning">Нет групп</td>
				  </tr>
				{% endfor %}
			  </tbody>
			</table>
			<div class="btn btn-ligth">
				<button id="js-button" class="btn btn-outline-primary">Добавить новую группу</button>
			</div>
		{% else %}
		
		{% endif %}
<!--
		<button onclick = "myFunc()">Нажми меня</button> 
-->
<!--
		<div id="log"></div>
		<div id="log_1"></div>
		<div id="log_2"></div>
		<div id="log_3"></div>
		<div id="log_4"></div>
		<div id="log_5"></div>
-->
		<script>
		
		$( "body" ).click(function( event ) {
			$( "#log" ).html( "clicked: " + event.target.nodeName + "  " + event.type );
		});		

		var buttons = document.getElementsByTagName("button"); //returns a nodelist
		for (let i = 0; i < buttons.length; i++) {
			buttons[i].addEventListener("click", function() {
			buttonsControl(this, i);
		}, false);
		}

		function buttonsControl(button, i) {
			//console.log(i);
			//console.log(button.className);
			//$( "#log_1" ).html( "buttonsControl: " + i + "  " + button.className );
			x=button.className.split(" ");
			//document.write(x[2]);
			//$( "#log_2" ).html( x[0] + ' ' + x[1] );
			if (x[1] == "show_users") {
				let tables = document.getElementsByTagName( "table" ); // находим элементы с тегом table
				user_table = 'user-table ' + x[0]
				for( let i = 1; i < tables.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
					if (tables[i].id == user_table) {
						tables[i].style.visibility="visible";	// открываем таблицы пользователей
					};
				};
				
				button.innerText = 'Скрыть пользователей'
				button.className = x[0] + ' hide_users ' + ' btn btn-danger btn-sm' 
				//$( "#log_3" ).html( button.id );
				//user_table = 'user-table TestGroup01_19'//'user-table ' + x[0]
				//$( "#log_4" ).html( user_table );
				//table = document.getElementsById( 'group-table' );
				////table = document.getElementsByClassName( button.className );
				//$( "#log_5" ).html( x[0] );
				//table.style.visibility="visible";
				////$("#new_group").style.visibility="visible";
				////$("#new_group").show(); // зарегистрировать новую группу
			} else if (x[1] == "hide_users") {
				//$( "#log_3" ).html( button.id );
				//$( "#log_4" ).html( button.id );
				let tables = document.getElementsByTagName( "table" ); // находим элементы с тегом table
				user_table = 'user-table ' + x[0];
				//$( "#log_3" ).html( user_table + '    ' + tables[1].id );
				for( let i = 1; i < tables.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
					if (tables[i].id == user_table) {
						tables[i].style.visibility="collapse";	// открываем таблицы пользователей
					};
				};
				button.innerText = 'Показать пользователей'
				button.className = x[0] + ' show_users ' + ' btn btn-danger btn-sm' 				
			};
		};
		
		function myFunc() {
			let tables = document.getElementsByTagName( "table" ); // находим элементы с тегом table
			for( let i = 1; i < tables.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
	    //tables[i].style.border = "5px solid green"; // устанавливаем сплошную границу размером 1 пиксель зеленого цвета
	    //tables[i].innerHTML += " **** " + i;   // добавляем текстовое содержимое первому элементу коллекции
			tables[i].style.visibility="collapse";	// скрываем таблицы пользователей
			}
			//let tables = document.getElementsByTagName( "table" ); // находим элементы с тегом table
			//for( let i = 1; i < tables.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
	    //tables[i].style.border = "5px solid green"; // устанавливаем сплошную границу размером 1 пиксель зеленого цвета
	    //tables[i].innerHTML += " **** " + i;   // добавляем текстовое содержимое первому элементу коллекции
			//tables[i].style.visibility="visible";	// скрываем таблицы пользователей
			//}				
	  ////$("#tables[0]").hide();
	  //let trs = tables[1].getElementsByTagName( "tr" ); // находим элементы с тегом tr в таблице 1
	  //for( let i = 0; i < trs.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
	  //  trs[i].style.border = "10px solid red"; // устанавливаем сплошную границу размером 10 пиксель красного цвета
	  //  trs[i].innerHTML += " #### " + i;   // добавляем текстовое содержимое первому элементу коллекции
      //  let ths = trs[i].getElementsByTagName( "th" ); // находим элементы с тегом th в заголовках в таблице 1
		//ths[3].style.border = "20px solid blue"; // устанавливаем сплошную границу размером 20 пиксель синего цвета
		//ths[4].style.backgroundColor="yellow";
		//ths[2].style.visibility="hidden";
		//ths[2].style.visibility="visible";
	  //}
		}
		</script>
<!--
			<div class="btn btn-ligth">
				<button id="js-button" class="btn btn-outline-primary">Добавить новую группу</button>
			</div>
-->
<!--
		<script type="text/javascript">
			//alert("Javacript подключен");
			$(document).ready(function() {
			//	alert("Javacript подключен");
				console.log('Готово!');
			});
			//console.log($('.operations option:selected').text());
			//$('.operations option:selected').text();
			//alert("Javacript подключен");
			// переменная numbers, содержащая массив чисел
			var numbers = [-7, 4, 1, 9, -2];
			// вызов глобального метода jQuery $.each
			$.each(numbers, function(index, value) {
				if (value < 0) {
					console.log(value);
				}
			});
			$('body').append('<div style="text-align: center; font-size: 20px;">Я люблю jQuery</div>');
			var selectfc = $('select.form-control');
			console.log(selectfc);
			var count = $('select.form-control').length;
			console.log(count);
			var resselect = $('#operations option:selected').text();
			console.log(resselect);
		</script>
-->


<style type="text/css">
#js-result {
	font-size: 16px;
	line-height: 38px;
	color: green;
}
</style>

		<script>

		$(function () {	
		$('#js-button').click(function(){
			var value_t = $('#operations option:selected').text();
			var value_v = "0"; //$('#operations option:selected').val();
			$('#js-result').html('Выбрана операция: ' + value_t + '  ' + value_v);
			if (value_v == "0") {
				$("#new_group").show(); // зарегистрировать новую группу
			} else if (value_v == "1") {
				$("#turn_off_on_group").show(); // отключить/подключить старую группу
			} else if (value_v == "2") {
				$("#turn_off_on_user").show(); // отключить/подключить пользователя
			}
			});
		});
		</script>

			
<!--			
			<p>
				<button type="button" class="btn btn-primary js-create-grouphr">
				<span class="glyphicon glyphicon-plus"></span>
				Новая группа
				</button>
			</p>
-->	

		<script type="text/javascript">

		$(function () {
			$(document).ready(function(){
			//alert("document");
			let tables = document.getElementsByTagName( "table" ); // находим элементы с тегом table
			for( let i = 1; i < tables.length; i++){ // проходим циклом по всем элементам массивоподобного объекта
				tables[i].style.visibility="collapse";	// скрываем таблицы пользователей
			}
			$("#new_group").hide();
			//$("#reg_group").hide();
			//$("#turn_off_on_group").hide();
			//$("#turn_off_on_user").hide();
			});
		});   
/*
$(function () {	
$('#reg_new_group').click(function(){
	//var value = $('#select').val();
	var name_of_group = $('#name_new_group').val();
	var comment_of_group = $('#comment_new_group').val();
	$('#name_group').html('Имя группы: ' + name_of_group + '  Комментарий: ' + comment_of_group);
	alert("reg_new_group");
});
});

$(function () {
  $(".js-create-grouphr").click(function () {
    alert("js-create-grouphr");
	$("#reg_group").hide();
	$("#turn_off_on_group").hide();
	$("#turn_off_on_user").hide();
    $.ajax({
      url: 'grouphr_create/',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
	    //$("#reg_group").fadeOut(3000);
        //$("#reg_group").modal("show");
      },
      success: function (data) {
        $("#modal-book .modal-content").html(data.html_form);
      }
    });
  });
});	*/		
		</script>

			<div class="container" id="new_group">
			  <div class="row justify-content-around">
				  <div class="card">
					  <div class="card-body">
						  <h5 class="card-title mb-2 text-muted">Новая группа</h5>
	  
						  <p>
							  <form id="RegistrationGrouphr" method="post">  
								  {% csrf_token %}
								  {{ form|crispy }}
								  <input type="submit" name="contact-submit" class="btn btn-success btn-lg" />
							  </form>
						  </p>
	  
					  </div>
				  </div>	  
			  </div>
			</div>
	  </p>	   
	</div>
    </div>	  
  </div>
</div>

 
{% endblock content %}