<!-- templates/about_test.html -->
{% extends 'base_prsar.html' %}
{% load crispy_forms_tags %}

{% load static %}

{% block javascript %}
  <script src="{% static 'static/js/grouphr.js' %}"></script>
{% endblock %}
 
{% block content %}

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Запуск теста InfluxDB</h5>

<!--	  
	  <script type="text/javascript">
		alert("Javacript подключен"); 
	  </script>
-->


	  
      <p>
		{% if user.profile.status_of_user == 'SU' %} 
		  Выберите сеансы для обработки на странице Работа с сеансами.
		{% elif user.profile.status_of_user == 'GM' %}
          Выберите группу, членом которой хотите стать.		
		{% elif user.profile.status_of_user == 'TL' %} 
		  Работа с группами.
		  
				<p>
					Пользователь {{user}} ({{user.profile.first_name}} {{user.profile.last_name}}) управляет следующими группами:
				</p>				
<!--
				<ul>
					{% for grouphr in n_grouphr %}
						<li>{{ grouphr }}</li>
					{% endfor %}
				</ul>
-->

				<table class="table" id="book-table">
				  <thead>
				    <tr>
					  <th>Имя группы</th>
					  <th>Дата/время регистрации</th>
					  <th>Комментарий руководителя</th>
					  <th>Действующая группа</th>
					</tr>
				  </thead>
				  <tbody>
					{% for grouphr in n_grouphr %}
					  <tr>
						<td>{{ grouphr.0 }}</td>
						<td>{{ grouphr.1 }}</td>
						<td>{{ grouphr.2 }}</td>
						<td>{{ grouphr.3 }}</td>
					  </tr>
					{% empty %}
					  <tr>
						<td colspan="7" class="text-center bg-warning">Нет групп</td>
					  </tr>
					{% endfor %}
				  </tbody>
				</table>

<!--
			{% endif %}
-->	

<!--	  
			<form method="post">
			{% csrf_token %}
			{{ form|crispy }}
            <input type="hidden" name="next" value="{{ "prsar_reggr" }}">

			<button type="submit" class="btn btn-ligth">
-->
<!--			
			
			<button type="submit" class="btn btn-ligth js-create-grouphr" data-url="{% url 'grouphr_create' %}">

-->
<!--
			  Выбрать
			</button>


			</form>
-->
			
			<p>
				Выбран вариант: {{works_live_str}}. Функция: {{TestGC}} 
			</p>
					

			<label>Операции</label>
			<select class="form-control" id = "operations">
				<option selected="true" disabled="disabled">Выберите операцию</option>
				{% for WL in WORKS_LIVE %}
					<option value = {{WL.0}}>{{WL.1}}</option>
				{% endfor %}
			</select>
<!--
			<div class="col-sm text-center">
-->
			<div class="btn btn-ligth">
<!--
				<button id="js-button" class="btn btn-outline-primary">Выбрать операцию</button>
-->
				<button id="js-button" class="btn btn-ligth">Выбрать операцию</button>
			</div>
			<div class="col-sm" id="js-result">
				Выбрана операция: 
			</div>
<!--
		<script type="text/javascript">
			//alert("Javacript подключен");
			$(document).ready(function() {
			//	alert("Javacript подключен");
				console.log('Готово!');
			});
			//console.log($('.operations option:selected').text());
			//$('.operations option:selected').text();
			//alert("Javacript подключен");
			// переменная numbers, содержащая массив чисел
			var numbers = [-7, 4, 1, 9, -2];
			// вызов глобального метода jQuery $.each
			$.each(numbers, function(index, value) {
				if (value < 0) {
					console.log(value);
				}
			});
			$('body').append('<div style="text-align: center; font-size: 20px;">Я люблю jQuery</div>');
			var selectfc = $('select.form-control');
			console.log(selectfc);
			var count = $('select.form-control').length;
			console.log(count);
			var resselect = $('#operations option:selected').text();
			console.log(resselect);
		</script>
-->
<!--		
<div class="row">
	<div class="col-sm">
		<select id="select" class="form-control" name="fruct">
			<option value="1">яблоко</option>
			<option value="2" selected>апельсин</option>	
			<option value="3">виноград</option>	
		</select>	
	</div>
	<div class="col-sm text-center">
		<button id="js-button" class="btn btn-outline-primary">Получить value</button>
	</div>
	<div class="col-sm" id="js-result">
	   	Результат: 
	</div>
</div>
-->
<!--
<link rel="stylesheet" href="https://snipp.ru/cdn/bootstrap/4.3/bootstrap.min.css">
-->
<style type="text/css">
#js-result {
	font-size: 16px;
	line-height: 38px;
	color: green;
}
</style>
<!--
<script src="https://snipp.ru/cdn/jquery/2.1.1/jquery.min.js"></script>
-->

			<div class="col-sm" id="name_group">
				Имя группы: 
			</div>
			<div class="col-sm" id="name_form">
				Имя формы: {{name_of_grouphr}}
			</div>			

<script>
//$("#par1").hide();
//$("#reg_group").hide();
$(function () {	
$('#js-button').click(function(){
	//var value = $('#select').val();
	var value_t = $('#operations option:selected').text();
	var value_v = $('#operations option:selected').val();
	$('#js-result').html('Выбрана операция: ' + value_t + '  ' + value_v);
	//$("#par1").hide();
	if (value_v == "0") {
		//$("#reg_group").show(); // зарегистрировать новую группу
		$("#new_group").show(); // зарегистрировать новую группу
	} else if (value_v == "1") {
		$("#turn_off_on_group").show(); // отключить/подключить старую группу
	} else if (value_v == "2") {
		$("#turn_off_on_user").show(); // отключить/подключить пользователя
	}
	//$("#par1").fadeIn(3000);
	//$("#reg_group").fadeIn(3000);
	//$("#par1").hide();
	//$("#reg_group").hide();	
});
});



</script>

			
			
			<p>
<!--
				<button type="button" class="btn btn-primary js-create-grouphr" data-url="{% url 'grouphr_create' %}">
-->
				<button type="button" class="btn btn-primary js-create-grouphr">
				<span class="glyphicon glyphicon-plus"></span>
				Новая группа
				</button>
			</p>
<!--
<p id="par1" style="font-size:20px;">Я абзац к которому будут применяться различные эффекты.</p>
-->			
<!--
		<script src="grouphr.js"></script>			
-->

		<script type="text/javascript">

$(function () {
$(document).ready(function(){
	alert("document");
	$("#new_group").hide();
	$("#reg_group").hide();
	$("#turn_off_on_group").hide();
	$("#turn_off_on_user").hide();
   });
});   

$(function () {	
$('#reg_new_group').click(function(){
	//var value = $('#select').val();
	var name_of_group = $('#name_new_group').val();
	var comment_of_group = $('#comment_new_group').val();
	$('#name_group').html('Имя группы: ' + name_of_group + '  Комментарий: ' + comment_of_group);
	alert("reg_new_group");
});
});

$(function () {
  $(".js-create-grouphr").click(function () {
    alert("js-create-grouphr");
	$("#reg_group").hide();
	$("#turn_off_on_group").hide();
	$("#turn_off_on_user").hide();
    $.ajax({
      url: 'grouphr_create/',
      type: 'get',
      dataType: 'json',
      beforeSend: function () {
	    //$("#reg_group").fadeOut(3000);
        //$("#reg_group").modal("show");
      },
      success: function (data) {
        $("#modal-book .modal-content").html(data.html_form);
      }
    });
  });
});			
		</script>
<!--
			<div class="container" id="reg_group">
				<div class="row justify-content-around">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title mb-2 text-muted">Регистрация новой группы</h5>
	  
							<p>
								<form name="test" method="post">  
									{% csrf_token %}
									<p><b>Имя группы:</b><br>
										<input type="text" size="40" id="name_new_group">
									</p>
									<p>Комментарий руководителя группы:<Br>
										<textarea name="comment" cols="40" rows="3" id="comment_new_group"></textarea></p>
									<p><input type="submit" value="Зарегистрировать группу" id="reg_new_group">
									<input type="reset" value="Очистить" id="clear_new_group"></p>
								</form>
							</p>
	  
						</div>
					</div>	  
				</div>
			</div>


			<div class="container" id="turn_off_on_group">
				<div class="row justify-content-around">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title mb-2 text-muted">Отключение/подключение старой группы</h5>
	  
							<p>
								<form name="test" method="post">  
									{% csrf_token %}
									<p><b>Имя группы:</b><br>
										<input type="text" size="40">
									</p>
									<p>Комментарий руководителя группы:<Br>
									<textarea name="comment" cols="40" rows="3"></textarea></p>
									<p><input type="submit" value="Зарегистрировать группу">
									<input type="reset" value="Очистить"></p>
								</form>
							</p>
	  
						</div>
					</div>	  
				</div>
			</div>

			<div class="container" id="turn_off_on_user">
				<div class="row justify-content-around">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title mb-2 text-muted">Отключение/подключение пользователя</h5>
	  
							<p>
								<form name="test" method="post">  
									{% csrf_token %}
									<p><b>Имя группы:</b><br>
										<input type="text" size="40">
									</p>
									<p>Комментарий руководителя группы:<Br>
									<textarea name="comment" cols="40" rows="3"></textarea></p>
									<p><input type="submit" value="Зарегистрировать группу">
									<input type="reset" value="Очистить"></p>
								</form>
							</p>
	  
						</div>
					</div>	  
				</div>
			</div>
-->
			<div class="container" id="new_group">
			  <div class="row justify-content-around">
				  <div class="card">
					  <div class="card-body">
						  <h5 class="card-title mb-2 text-muted">Новая группа</h5>
	  
						  <p>
							  <form id="RegistrationGrouphr" method="post">  
								  {% csrf_token %}
								  {{ form|crispy }}
								  <input type="submit" name="contact-submit" class="btn btn-success btn-lg" />
							  </form>
						  </p>
	  
					  </div>
				  </div>	  
			  </div>
			</div>

<!--
		<div class="modal fade" id="modal-book">
			<div class="modal-dialog">
				<div class="modal-content">		
				<p>
					Модальная форма.
				</p>
				<p>
					 <form name="test" method="post">  <!-- action="input1.php">  -->
<!--
						{% csrf_token %}
						<p><b>Ваше имя:</b><br>
						<input type="text" size="40">
						</p>
						<p><b>Каким браузером в основном пользуетесь:</b><Br>
						<input type="radio" name="browser" value="ie"> Internet Explorer<Br>
						<input type="radio" name="browser" value="opera"> Opera<Br>
						<input type="radio" name="browser" value="firefox"> Firefox<Br>
						</p>
						<p>Комментарий<Br>
						<textarea name="comment" cols="40" rows="3"></textarea></p>
						<p><input type="submit" value="Отправить">
						<input type="reset" value="Очистить"></p>
					</form>
				</p>				
				</div>
			</div>
		</div>
-->
<!--
			{% if works_live == '0' %}
-->			

			
<!--			
	  <p>
		Записано точек: {{number_of_points_write}} . Прочтено точек: {{number_of_points_read}} .
	  </p>
-->	 
<!--
			<p>
				Имя группы: {{name_of_grouphr}}. Комментарий руководителя: {{comment_of_TL}}.
			</p>
--> 
		{% endif %} 
	  </p>	  
	  
<!--	  
      <form method="post">
      {% csrf_token %}

	  {{NumberOfPoints}}
      {{ form|crispy }}

      <p>
	  <button type="submit" class="btn btn-light">Записать тестовую последовательность в InfluxDB</button>
      </p>

      </form>
	  
	  <p>
		Записано точек: {{number_of_points_write}} . Прочтено точек: {{number_of_points_read}} .
	  </p>	  
-->	  
	</div>
    </div>	  
  </div>
</div>

<!--
<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Считанная из InfluxDB тестовая последовательность</h5>
	  
      <p>
	    Точки тестовой последовательности InfluxDB. {{user}} {{ current_site }}
	  </p>
	  
	</div>
    </div>	  
  </div>
</div>
-->	  
{% endblock content %}