{% extends 'base.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Ссылка активации</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">На электронную почту администратора сайта выслана ссылка активации. После активации аккаунта администратором, Вам будет прислано подтверждение на Вашу электронную почту {{upe}}.</h5>
	</div>
    </div>	  
  </div>
</div>	  
{% endblock content %}