<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Активация аккаунта</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Поздравляем, Вы активировали зарегистрированный аккаунт {{user}}. Закройте эту страницу и зайдите на сайт под зарегистрированным аккаунтом.</h5>

	</div>
    </div>	  
  </div>
</div>	  
{% endblock content %}