<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Регистрация</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Введите Ваш аккаунт</h5>

<!--
      <form method="post">
      {% csrf_token %}
  
      <input type="hidden" name="next" value="{{ next }}">

      {{ form|crispy }}

      <button type="submit" class="btn btn-light">Зарегистрироваться</button>
 
      </form>
-->

      <form method="post">
        {% csrf_token %}
        {% for field in form %}
          <p>
            {{ field.label_tag }}<br>
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </p>
        {% endfor %}
        <button type="submit">Зарегистрироваться</button>
      </form>

		<script>
/*
		$(function () {	
		$('#js-button').click(function(){
			var value_t = $('#operations option:selected').text();
			var value_v = "0"; //$('#operations option:selected').val();
			$('#js-result').html('Выбрана операция: ' + value_t + '  ' + value_v);
			if (value_v == "0") {
				$("#new_group").show(); // зарегистрировать новую группу
			} else if (value_v == "1") {
				$("#turn_off_on_group").show(); // отключить/подключить старую группу
			} else if (value_v == "2") {
				$("#turn_off_on_user").show(); // отключить/подключить пользователя
			}
			});
		});
*/
		
		$(function () {	
		$('#id_status_of_user').click(function(){
			var value_t = $('#id_status_of_user option:selected').text();
			var value_v = $('#id_status_of_user option:selected').val();
			$('#js-result').html('Выбрана операция: ' + value_t + '  ' + value_v);
			if (value_v == "GM") {
				$("label[for='id_name_of_group']").show();
				$("#id_name_of_group").show();			
			} else if (value_v == "SU") {
				$("label[for='id_name_of_group']").hide();
				$("#id_name_of_group").hide();				
			} else if (value_v == "TL") {
				$("label[for='id_name_of_group']").hide();
				$("#id_name_of_group").hide();				
			}
			});
		});		
		
		$(function () {
			$(document).ready(function(){
			$("label[for='id_name_of_group']").hide();
			$("#id_name_of_group").hide();
			});
		}); 		
		</script>

	</div>
    </div>	  
  </div>
</div>	  
{% endblock content %}