<!-- templates/signup.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}
 
{% block content %}
<div class="container">
	<div class="row">
		<div class="col">
			<div class="single-post">
				<h2 class="post-title"><a href="#"><?=$hdr?></a></h2>
				<p>Регистрация</p>
			</div>
		</div>
	</div>
</div>

<div class="container">
  <div class="row justify-content-around">
    <div class="card">
    <div class="card-body">
      <h5 class="card-title mb-2 text-muted">Введите Ваш аккаунт</h5>

<!--
      <form method="post">
      {% csrf_token %}
  
      <input type="hidden" name="next" value="{{ next }}">

      {{ form|crispy }}

      <button type="submit" class="btn btn-light">Зарегистрироваться</button>
 
      </form>
-->

<form method="post">
  {% csrf_token %}
  {% for field in form %}
    <p>
      {{ field.label_tag }}<br>
      {{ field }}
      {% if field.help_text %}
        <small style="color: grey">{{ field.help_text }}</small>
      {% endif %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    </p>
  {% endfor %}
  <button type="submit">Зарегистрироваться</button>
</form>

	</div>
    </div>	  
  </div>
</div>	  
{% endblock content %}